@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <p>Seja bem vindo! Aqui voce pode verificar os alunos e como entrar em contato com eles</p>
</div>
