<p> - Lógica de programação <br />
    - Algoritmos<br />
    - Expressões Aritméticas<br />
    - Variáveis e tipos<br />
    - Padrão Camel Case<br />
    - Estrutura Sequencial<br />
    - Estrutura Condicional<br />
    - Estruturas Repetitivas<br />
    - Vetores<br />
    - Matrizes<br />
    - Debug<br />
    - Programação Orientação a Objetos<br />
    - Classes<br />
    - Métodos<br />
    - Conexão da aplicação com o banco de dados<br />
    - Testes Unitários<br />
    - Programação Web: MVC(Model - View - Controller)<br />
    - CRUD<br />
    - Chamada de api<br />
    - Uso do Git e Github<br />
    - Branch<br />
    - Publicar projeto<br />
</p>