@model AlunoModel

<form asp-controller="Alunos" asp-action="InserirAluno" method="post"
<div>
    <div class="col-7 mb-3">
        <label for="exampleInputNome" class="form-label">Nome</label>
        <input class="form-control" id="exampleInputNome">
    </div>
    <div class="col-2 mb-3">
        <label for="exampleinputIdade" class="form-label">Idade</label>
        <input class="form-control" id="exampleinputIdade">
    </div>
    <div class="col-3 mb-3">
        <label for="exampleFormControlInputContato" class="form-label">Contato</label>
        <input class="form-control" id="exampleFormControlInputContato" placeholder="(00) 00000-0000">
    </div>
    <div class="col-3 mb-3">
        <label for="exampleInputEmail" class="form-label">Email</label>
        <input class="form-control" id="exampleInputEmail">
    </div>
    <div class="col-3 mb-3">
        <label for="exampleFormControlInputCep" class="form-label">Cep</label>
        <input class="form-control" id="exampleFormControlInputCep" placeholder="00000-000">
    </div>
    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button">Adicionar</button>
        <button class="btn btn-primary" type="button">Voltar</button>
    </div>
</div>
</form>