@model AlunoModel

<form asp-controller="Alunos" asp-action="AlterarAluno" method="post">
    <div>
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" asp-for="Nome" class="form-control col-md-4">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Idade</label>
            <input type="text" asp-for="Idade" class="form-control col-md-1">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Contato</label>
            <input type="text" asp-for="Contato" class="form-control col-md-4" placeholder="(00) 00000-0000">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="text" asp-for="Email" class="form-control col-md-4">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInputCep" class="form-label">Cep</label>
            <input type="text" asp-for="Cep" class="form-control col-md-4" placeholder="00000-000">
        </div>
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Editar</button>
            <button class="btn btn-primary" type="button">Voltar</button>
        </div>
    </div>
</form>